@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.container {
  @apply max-w-[1250px] mx-auto px-5;
}

:root {
  --main-color: #83b735;
  --secondary-color: #f8f8f8;
}
.text-primary {
  color: var(--main-color);
}
.bg-primary {
  background-color: var(--main-color);
}
.text-hover:hover {
  color: var(--main-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-hover:hover {
  background-color: var(--secondary-color);
}

.border-color {
  border-color: var(--main-color);
}
